html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
  background-color: #f8f8ff;
}

h1,
h2 {
  margin: 10px 0 0 20px;
  line-height: 1.4;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

.subheading {
  display: block;
}

#map {
  height: 100vh;
}

/* FILTER SELECT */
.filter-select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #f8f8ff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
  background-origin: content-box;
  border: 6px solid #12548a;
  margin: 0 20px 20px 20px;
  width: calc(100% - 40px);
  font-family: inherit;
  font-size: 1.2rem;
  padding: 10px;
}

label {
  margin: 0 20px;
  font-weight: bold;
}

/* LIST VIEW BUTTON */
.list-view-link {
  text-decoration: none;
  margin: 0 20px;
  background-color: #12548a;
  color: #f8f8ff;
  padding: 10px;
  border-radius: 10px;
}

.fa-list-ul {
  padding-right: 5px;
}

/* LOCATION LIST */
.list-menu {
  background-color: #12548a;
  position: fixed;
  top: 0;
  width: 350px;
  height: 100%;
  padding: 20px;
  margin-left: -350px;
  overflow: auto;
  transition: .25s;
  z-index: 10;
}

.location-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.location-list a {
  color: #f8f8ff;
  font-size: 1.2rem;
}

.close {
  color: #f8f8ff;
  font-size: 30px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 2px solid #f8f8ff;
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
}

.list-show {
    margin-left: 0;
}

/* MEDIA QUERIES */
/*@media screen and (min-width: 1150px) {*/
@media screen and (min-width: 790px) {
  .list-menu {
    margin: 0;
  }

  .list-view-link,
  .close {
    display: none;
  }

  #map {
    width: calc(100% - 350px);
    float: right;
  }

  h1,
  h2,
  label,
  .filter-select {
    margin-left: 370px;
  }

  .filter-select {
    width: calc(100% - 390px);
  }
}
